<h3>Lookup a Crypto Currency </h3>
<br>
<div class="form-group">
<%= form_tag home_lookup_path, :method => "POST" do %>
    <%= text_field_tag "sym", nil, placeholder: "Enter Crypto Symbol", size: 50, class: "form-control" %>
    <br>
    <%= submit_tag "Lookup Symbol", class: "btn btn-default" %>
    <% end %>

<br><br>




<% if @symbol %>
    <% for x in @lookup_coin %>
        <% if @symbol == x["symbol"] %>
                <%= x["name"] %>: $<%= x["price_usd"]%> <br>
                Rank: <%= x["rank"] %><br>
        <% end %>
    <% end %>
 <% end %>         

